body{
    background: rgb(22,10,71);
background: linear-gradient(157deg, rgba(22,10,71,1) 0%, rgba(96,4,122,1) 55%, rgba(133,11,105,1) 85%, rgba(156,15,95,1) 100%);
margin: 0px;
padding: 0px;
height: 100%;
background-repeat: round;
background-repeat: no-repeat;
  background-attachment: fixed;
}

html{
    height: 100%;
}

#app{
    height: 100%;
}
#projectCardContainer{
    width: 82vw;
    margin: auto;
    padding-top: 8vh;
    height: 100%;
}

.cardGroup{
    padding: 1vh 0vw;
    gap: 1vw;
}

.cardGroup .card{
    border-radius:  var(--bs-border-radius) !important;
}

#topButton{
    position: absolute;
    z-index: 3;
    height: auto;
    left: 2vw;
    top: 2vh;
}
#overlayCard image{
    height: 2px;
}
#overlayContent{
    height: 100%;
}

.card{
    background: rgb(242,103,31);
    background: linear-gradient(337deg, rgba(242,103,31,1) 0%, rgba(220,62,35,1) 32%, rgba(201,27,38,1) 100%);
    height: 100%;
    padding: 2px;
    font-family: 'Oxygen', sans-serif;
}

#overlayCard{
/*background: radial-gradient(circle, #F2671F 0%,#C91B26 30%, #9C0F5F 80%);
*/
    padding: 15px;
}

.card-title{
    color: #160A47;
    color: black;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
}

.card-subtitle{
    color: #473591;
    color: black !important;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;

}

button{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;

}

a{
    color: #60047A;
}

#projectDesc{
    display: flex;
    flex-flow: row wrap;
    width: 82vw;
    margin: auto;
    background: linear-gradient(337deg, rgba(242,103,31,1) 0%, rgba(220,62,35,1) 32%, rgba(201,27,38,1) 100%);
    border-radius: 50px;
    height: 100%;
    padding: 8vh 5vw;
}

#projectDesc button{
    background: linear-gradient(157deg, rgba(22,10,71,1) 0%, rgba(96,4,122,1)  100%);
    border: 0;
}

#projectDesc a{
    color: white;
    text-decoration: none;
}

#projectInfo{
    width: 40%;
    padding-left: 4vw;
}

#descContainer{
    padding: 8vh 6vw;
    height: 100%;
}

#descImg{
    height: fit-content;
    width: 100%;
}

#imgContainer{
    width: 50%;
}

#descExit{
    width: 100%;
    display: flex;
    justify-content: end;
    align-content: end;
    flex-wrap: wrap;
}

#descExit button{
    height: 4.5vh;
    width: 8vh;
    margin-left: 1vw;
}

#projectInfo p{
    overflow: auto;
}

@media screen and (max-width: 768px) {
    #imgContainer, #projectInfo, #descExit{
        width: 100%;
        height: auto;
    }

    #projectInfo{
        height: 50%;
        overflow-y: auto;
    }

    #imgContainer{
        height: fit-content;
    }

    #projectDesc{
        border-radius: 25px;
        padding: 4vh 5vw;
        flex-direction: row;
    }

    #descExit button{
        margin-left: 4vw;
    }

    #overlayCard{
        flex-wrap: wrap;
    }

    #overlayCard img{
        height: 2px;
        visibility: hidden;
    }
}