body{
    background: rgb(22,10,71);
background: linear-gradient(157deg, rgba(22,10,71,1) 0%, rgba(96,4,122,1) 55%, rgba(133,11,105,1) 85%, rgba(156,15,95,1) 100%);
margin: 0px;
padding: 0px;
height: 100%;
background-repeat: round;
}

html{
    height: 100%;
}

#app{
    height: 100%;
}
#projectCardContainer{
    width: 82vw;
    margin: auto;
    padding-top: 8vh;
    height: 100%;
}

.cardGroup{
    padding: 1vh 0vw;
}

#topButton{
    position: absolute;
    z-index: 3;
    height: auto;
    left: 2vw;
    top: 2vh;
}
#overlayCard image{
    height: 2px;
}
#overlayContent{
    height: 100%;
}

.card{
    background: rgb(242,103,31);
    background: linear-gradient(337deg, rgba(242,103,31,1) 0%, rgba(220,62,35,1) 32%, rgba(201,27,38,1) 100%);
    height: 100%;
    padding: 2px;
}